In [30]:
from pyspark import SparkConf, SparkContext

conf = SparkConf().setMaster("local")
sc = SparkContext(conf = conf)

In [31]:
#total 3rd number by first number 

input = sc.textFile("customer-orders.csv")

In [32]:
def parseLine(line):
    fields = line.split(',')
    id = int(fields[0])
    spend = float(fields[2])
    return (id, spend)

rdd = input.map(parseLine)
rdd.take(5)

[(44, 37.19), (35, 65.89), (2, 40.64), (47, 14.98), (29, 13.08)]

In [35]:
spend_by_id = rdd.reduceByKey(lambda x, y: (x+y))

#sort spend by id
spend_by_id_sorted = spend_by_id.map(lambda x: (x[1], x[0])).sortByKey(False)

In [36]:
import pandas as pd
pd.DataFrame(spend_by_id_sorted.collect())

          0   1
0   6375.45  68
1   6206.20  73
2   6193.11  39
3   6065.39  54
4   5995.66  71
..      ...  ..
95  4172.29  99
96  4042.65  23
97  3924.23  96
98  3790.57  79
99  3309.38  45

[100 rows x 2 columns]

In [29]:
sc.stop()